{
  "presets": [
    "meteor",
    "es2015",
    "react"
  ],
  "plugins": [
    "react-require",
    "jsx-control-statements",
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "syntax-trailing-function-commas",
    "syntax-do-expressions",
    "syntax-function-bind",
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-export-extensions",
    "syntax-exponentiation-operator",
    "transform-object-rest-spread",
    "transform-function-bind",
    "transform-export-extensions",
    "transform-exponentiation-operator",
    "transform-do-expressions",
    "transform-decorators",
    "transform-class-properties"
  ]
}
