{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "react-require",
    "jsx-control-statements",
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "syntax-trailing-function-commas",
    "syntax-function-bind",
    "syntax-class-properties",
    "transform-object-rest-spread",
    "transform-function-bind",
    "transform-class-properties"
  ]
}
